<footer class="footer bg-dark py-2 mt-auto" style="position: fixed;
bottom: 0;
width: 100%;
padding-top: 50px;">
    <div class="container">
        <span class="text-light">&copy; Tkatchinovskaya 2024</span>
    </div>

</footer>