<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/aboutMe.css">
</head>
<body>
    <h1>Hi there!</h1>

    <h2>A little bit about me</h2>

    <p>My name is Christoher Tkatch. Welcome to my (humble) website! Originally from Canada, I love to spend the summers at home in Collingwood, Ontario, and the winters in Mexico. Having family in both countries allowed me to adapt to different cultures and become fluent in Spanish. Since acquiring my Bachelor's degree in Political Science from Dalhousie University, I worked for a variety of companies, usually with the end goal of funding my travels. Click on Country List in the navbar to see which countries I've visited! Some hobbies of mine inlcude playing the piano, guitar, chess, rock-climbing, and mountain biking.   </p>

    <h2>Programing Knowledge and Experience</h2>

    <p> Most of my coding knowledge comes from the 2024 Web Developer Bootcamp by Colt Steele. Here is a <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">link</a> to the course. Essentially, I learned the fundamentals of HTML, CSS, Javascript, APIs, CRUD functionality, NODE, authentication, MongoDB, and a wee bit of JS React. Since then, I have been practicing and building up a portofolio. Check out my <a href="https://github.com/mast3rmittems?tab=repositories">Git hub</a> to see the projects! Also, I like to complete daily exercises on <a href="https://www.codewars.com/users/jebbs1450">codewars</a>. I have no work experience yet in the field of programing but I hope to soon!</p>

    <p>Thank you for taking the time to read this. Feel free to contact me at any time <br>
        <ul>
            <li>christkatch@hotmail.com</li>
            <li>chris.tkatch@gmail.com</li>
            <li>705 607 3720</li>
        </ul>
    </p>

   

   
    
</body>
</html>