<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/countryList.css">
</head>
<body>
    <h1>List of countries visited</h1>
    <h3>North and Central America</h3>
    <ul>
        <li>Canada</li>
        <li>USA</li>
        <li>Mexico</li>
        <li>El Salvador</li> 
    </ul>

    <h3>Europe</h3>
    <ul>
        <li>France</li>
        <li>Spain</li>
        <li>Italy</li>
        <li>England</li>
        <li>Germany</li> 
        <li>Bulgaria</li> 
    </ul>

    <h3>Balkans</h3>
    <ul>
        <li>Bosnia</li>
        <li>Montenegro</li>
        <li>Albania</li>
        <li>North Macedonia</li>
    </ul>

    <h3>Caucasus</h3>
    <ul>
    <li>Georgia</li>
    </ul>

    <h3>Middle East</h3>
    <ul>
        <li>Saudi Arabia</li>
        <li>Oman</li>
        <li>UAE</li>
        <li>Turkey</li>
        <li>Pakistan</li>
    </ul>

    <h3>Far East</h3>
    <ul>
        <li>Japan</li>
        <li>Thailand</li>
        <li></li>
    </ul>
    
</body>
</html>