h1 {
    text-align: center;
}

body {
    height: 100vh;
    background-image:
    url("https://images.unsplash.com/photo-1478860409698-8707f313ee8b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    font-weight: 500;
    color: rgb(0, 0, 0);
}